- We can store the output values by using append operations
- we are taking empty list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [2]:
sq_list=[]
for i in range(10):
    sq_list.append(i*i)
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process
- The three lines we can make into a single line
- This is called as list comprehension

$Pattern-1$

**Only for loop**

In [3]:
# syntax
# [<output> <for loop>]

In [8]:
sq_list=[]
for i in range(10):
    sq_list.append(i*i)
sq_list

# Q1 What is the output? i*i
# Q2 What is the output list name? sq_list
# Q3 What is the for loop? for i in range(10)
#   [<output> <for loop>]

sq_list=[i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# Q2 l1=['hyd','mumbai','chennai','blr']
#    ans=['Hyd','Mumbai','Chennai,'Blr']

l1=['hyd','mumbai','chennai','blr']
upper=[]
for i in l1:
    upper.append(i.upper())
upper

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [18]:
# Q1 What is the output? i.upper
# Q2 What is the output list name? upper
# Q3 What is the for loop? for i in l1
#   [<output> <for loop>
l1=['hyd','mumbai','chennai','blr']
upper=[i.upper() for i in l1]
upper

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [20]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower=[]
for i in l1:
    print(i.lower())
    lower.append(i.lower())

lower

hyd
mumbai
chennai
blr

['hyd', 'mumbai', 'chennai', 'blr']

In [27]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
lower=[i.lower() for i in l1]
lower

['hyd', 'mumbai', 'chennai', 'blr']

In [46]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
l2=[]
# summ of all indexes
for i in l1:
    print(l1.index(i))
    l2.append(l1.index(i))
print(l2)
print(sum(l2))

0
1
2
3
[0, 1, 2, 3]
6

In [43]:
l1=['HYD', 'MUMBAI', 'CHENNAI', 'BLR']
l2=[l1.index(i) for i in l1]
sum(l2)

6

- making empty list
- initializations will not works in list comprehension
- assignment operations also not works

$Pattern-2$

**for loop - if condition**

In [48]:
# syntax
# [<output> <for loop> <if condition>]

In [55]:
# Q5 print the city name greater than 4
l1=['Hyd', 'Mumbai', 'Chennai', 'blr']
l2=[]
for i in l1:
    if len(i) >4:
        print(i)
        l2.append(i)
l2

Mumbai
Chennai

['Mumbai', 'Chennai']

In [57]:
l1=['Hyd', 'Mumbai', 'Chennai', 'blr']
l2=[i for i in l1 if len(i) >4]
l2

['Mumbai', 'Chennai']

In [58]:
# Q6 l1=['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
# ans_#=['Mum#bai', 'Chen#nai']
# ans_without=['Hyd','blr']
# we want the element which are having '#' for loop if condition

In [76]:
l1=['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
l2=[]
for i in l1:
    if "#" in i:
        print(i)
        l2.append(i)
l2

Mum#bai
Chen#nai

['Mum#bai', 'Chen#nai']

In [77]:
l1=['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
l2=[]
for i in l1:
    if not "#" in i:
        print(i)
        l2.append(i)
l2

Hyd
blr

['Hyd', 'blr']

In [69]:
l1=['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
[i for i in l1 if "#" in i]

['Mum#bai', 'Chen#nai']

In [73]:
[i for i in l1 if not "#" in i]

['Hyd', 'blr']

In [81]:
l1=['Hyd', 'Mumbai', 'Chennai', 'blr']
[i for i in l1 if i.istitle()]

['Hyd', 'Mumbai', 'Chennai']

In [117]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        thirs name will be in thirs name list

str1='virat.kohli@rcb.com,Rohit.sharma@mi.com,KL.Rahul@lucknow.com'
list1=str1.split(',')
# list1[0].index('.')
# list1[0][:5]
list1[0][:list1[0].index('.')]
list1[1][:list1[1].index('.')]
list1[2][:list1[2].index('.')]
fname=[]
for i in list1:
    fname.append(i[:i.index('.')])
    
fname

['virat', 'Rohit', 'KL']

**even-odd**

In [1]:
even,odd=[],[]
for i in range(1,20):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [4]:
op=[]
for i in range(1,20):
    if i%2==0:
        op.append(f"even {i}")
    else:
        op.append(f"odd {i}")
print(op)

['odd 1', 'even 2', 'odd 3', 'even 4', 'odd 5', 'even 6', 'odd 7', 'even 8', 'odd 9', 'even 10', 'odd 11', 'even 12', 'odd 13', 'even 14', 'odd 15', 'even 16', 'odd 17', 'even 18', 'odd 19']