**lambda functions**
- almbda functions represents finction concept
- but we can write a single line
- like list comprehension, lambda functions similar only
- it will decrease the time complexity
- always remember if we use many foor loops or many conditions using multiple line, the

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern-1$

**Function with only one argument**
- function name
- argument name
- return output

In [2]:
#syntax: <function name>= lambda <argument name>:<return output>
def summ(n):
    return(n+10)
summ(10)
# function name= summ
# args= n
# return = n+10

In [5]:
summ = lambda n : n+10
summ(100)

110

In [6]:
def cube(n):
    return(n**3)
cube(10)

1000

In [8]:
cube = lambda n:n**3
cube(20)

8000

$Pattern-2$

**Functions with two arguments**

In [10]:
# sytan : <func name> = lambda <args1>,<args2>:<return output>
def add (a,b):
    return(a+b)
add(50,50)

100

In [11]:
add = lambda a,b:a+b
add(50,50)

100

In [12]:
def avg(a,b,c):
    return((a+b+c)/3)
avg(5,5,5)

5.0

In [13]:
avg=lambda a,b,c:(a+b+c)/3
avg(10,10,10)

10.0

$Pattern-3$

**Default arguments**

In [18]:
avg=lambda a,b,c=500:round((a+b+c)/3,2)
avg(100,400)

333.33

$Pattern-4$

**if-else**

In [19]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [25]:
max= lambda a,b:a if a>b else b
max(10,20)

20

$Pattern-5$

**Using list**

In [1]:
l=['hyd','chennai','mumbai']
# op ['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

**Map**

- the function and iterator are available

In [6]:
l=['hyd','chennai','mumbai']
lambda i:i.capitalize(),l

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [7]:
l=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),l)

In [10]:
# apply the list to see the value 
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [11]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

<!-- step-1: write normal expression
     lambda <var>:<op>===>lambda i:i.cpatalize()
 step-2: add the iterator
     lambda <var>:<op>===>lambda i:i.cpatalize(),list1
 step-3: map the both
     lambda <var>:<op>===>map(lambda i:i.cpatalize()list1)
 step-4: save the value in list
     lambda <var>:<op>===>list(map(lambda i:i.cpatalize()list1))
 Note: Those who are getting list object not callable use tuple -->

- Case-1: Function call with one argument
    - lambda arguments : Expression
    - lambda varible : return output
- Case-2: Function call with Two argumetns
    - lambda args1, args2 : Expression
    - lambda va1, var2 : return output
- Case-3: Function call with Default arguments
    - lambda args1, args2 = 500 : Expression
    - lambda va1, var2 = 500 : return output
- Case-4: Function call with two arguments and if else statement
    -  lambda args1, args2 : Expression
    - lambda va1, var2 : if_output if_con else els_op forloop
- Case-5: lambda operations using list
    - lambda arg: Expression,iterator
    - map(lambda var: operation,list)
    - list(map(lambda var: operation,list))

In [8]:
l = ['hyd','chennai','mumbai']
# op =['HYD','CHENNAI','MUMBAI']
# for i in l:
#     print(i.upper())

list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**

- when ever if conditions are there use filter

In [15]:
l=['hyd','che#nnai','mum#bai','blr']
# op=['che#nnai','mum#bai']
# for i in l:
#     if '#' in i:
#         print(i)

# mistake-1 list(map(lambda i: if '#' in i,l))
#            do not write if

list(map(lambda i: '#' in i,l))

[False, True, True, False]

In [16]:
list(filter(lambda i: '#' in i,l))

['che#nnai', 'mum#bai']

In [21]:
# numbers = [1,3,2,7,6]
# op=[2,6]

# numbers = [1,3,2,7,6]
# for i in numbers:
#     if i%2==0:
#         print(i)

list(filter(lambda i: i%2==0 ,numbers))

[2, 6]

In [28]:
l1=[1,2,3,4,5]
# I want sum of the elements in list

# Method-1: sum
sum(l1)

# Method-2: with out summ
summ=0
for i in l1:
    summ=summ+i
print(summ)

15

**Reduce**

- All inbuild functions can achieve by Reduce
- Reduce is available from functools package
- level-1: reduce(lambda summ,i:summ+i,l1)
- level-2: filter(lambda summ,i:summ+i,l1,initial_value)
- For example we want intialize summ=0 then we choose level-1
- For example we want start with other than zero then we choose level-2

In [41]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [43]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [44]:
# import functools
# functools.reduce

from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [45]:
import functools as ft
ft.reduce(lambda summ,i:summ+i,l1)

15

In [54]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda mul,i:mul*i,l1)

120

In [55]:
functools

In [ ]:
# maximun value using reduce

# map: direct attack
# filter : if condition
# reduce : inbuild functions some intialization

# detailed word document with example