**Variable** are use to store the values and the values can be change

In [2]:
number = 100 #value 100 is store in variable 'numner'
number #print

100

In [3]:
number = 200 #value 200 is store in variable 'numner'
number

200

**Note**
- Python is step by step process
- Python will take the last output as latest value
- in above code we are using same variable number
- but number value changed 2 times
    - first time 100
    - second time 200
latest value 200

In [4]:
NUMBER = 200
NUMBER

200

**use tab to avoid mistakes**

In [5]:
number,NUMBER

(200, 200)

In [6]:
NUMber =300
NUMber

300

In [7]:
number123 =400
number123

400

In [8]:
numb%er = 6004
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3750452875.py, line 1)

In [9]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [10]:
number_one=900
number_one

900

In [11]:
_=1000
_

1000

In [14]:
n1=100,200
n1

(100, 200)

In [15]:
n2,n3 =200

TypeError: cannot unpack non-iterable int object

In [16]:
n4,n5=100,200

- Python variables are case sensitive
- Varable can be declared as Capital letters
- Varable can be declared as small letters
- variable can not start with number (prifix)
- Number can be suffix of the variable
- Varaible can not have character expect **underscore( _ )**
- Variable can not have space between names
- Key words can not use as variable
- only underscore is possible
- Two values can be assign to a single variable
- one value can not assign to two variable

**save as html then convert it to pdf using ctrl+p**