In [1]:
print(10)

10

In [2]:
print('python')

python

In [3]:
print(10,20,30)

10 20 30

In [4]:
print(10,10.5,'meer',True)

10 10.5 meer True

In [5]:
n1=10
n2=20
print(n1,n2)

10 20

In [6]:
print(10),print(20)

10
20

(None, None)

In [7]:
print(10,20,30)

10 20 30

In [8]:
print(10)
print(20)

10
20

In [9]:
n1=10
n1

10

In [10]:
n1= 10
n2=20
n1,n2

(10, 20)

In [19]:
a=100
b=200
c=a+b

#the addition of 10 and 20 is 30
print(f"The addition of {a} and {b} is {c}")

The addition of 100 and 200 is 300

In [16]:
#read your name
#read your age 
#read your city
#My name is python, iam 10years old im from hyd
name='python'
age=10
city='hyd'
print("my name is {}, im {} year old and im from {}".format(name,age,city))

my name is python, im 10 year old and im from hyd

In [17]:
emp_name= 'meer'
role='data scientist'
company='google'
print("my name is {}, I want to become {} in {}".format(name,role,company))

my name is python, I want to become data scientist in google

In [20]:
emp_name= 'meer'
role='data scientist'
company='google'
print(f"my name is {emp_name}, I want to become {role} in {company}")

my name is meer, I want to become data scientist in google

In [21]:
a=100
b=200
c=a+b

#the addition of 10 and 20 is 30
print("The addition of {} and {} is {}".format(a,b,c))

The addition of 100 and 200 is 300

In [22]:
name='python'
age=10
city='hyd'
print(f"my name is {name}, im {age} year old and im from {city}")

my name is python, im 10 year old and im from hyd

In [7]:
num1=100
num2=200
average = (num1 + num2)/2
#the average of 100 and 200 is 150
print(f"The average of {num1} and {num2} is:{average}")

The average of 100 and 200 is:150.0

In [6]:
print("The average of {} and {} is:{}".format(num1,num2,average))

The average of 100 and 200 is:150.0

In [17]:
# take the radius of circle 
# take the pi value 3.14 
# Find the area of circle pi*r*r
radius = 10
pi = 3.14
area = pi*radius*radius
print(f"The area of circle {area}")
print("The area of circle {}".format(area))

The area of circle 314.0
The area of circle 314.0

In [24]:
#take the base of tringle
#take the height of tringle
#area of tringle =1/2*base*height
base = 10
height = 20
area =0.5*base*height
print("The area of tringle is:{}".format(area))
print(f"The area of tringle is:{area}")#

The area of tringle is:100.0
The area of tringle is:100.0

In [34]:
# take the bill amount 
# take the tip percentage
# calculate tip_amount
#calculate the total bill
#print the total bill
bill = 1000
tip_per = 10
total_tip = bill* tip_per/100
total_bill = bill+ total_tip
print(f"The total bill is:{total_bill}")

The total bill is:1100.0

In [35]:
print(10)
print(20)

10
20

In [36]:
print(10,20)

10 20

$End$
- combining multiple statements in a single line

In [41]:
print(10,end = '&')
print(20)

10&20

In [44]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

$sep$
- Seprate the multiple values in a single print statement

In [47]:
print(10,20,30,sep ='---->')

10---->20---->30

In [49]:
print (f"the addition of {5} and {3} is:{5+3}")

the addition of 5 and 3 is:8

In [51]:
print("the addition of {} and {} is:{}".format(5,3,5+3))

the addition of 5 and 3 is:8

In [53]:
print ("the addition of 5 and3 is 8",'.',sep='')

the addition of 5 and3 is 8.